---
import DotGrid from "../DotGrid.astro";
import SectionTitle from "../SectionTitle.astro";
import TextInBox from "../text/TextInBox.astro";
import Timeline from "../TimelineSection/Timeline";
---

<section id="about-me" class="layout mt-10 w-full scroll-m-7 py-10">
  <SectionTitle> About Me </SectionTitle>
  <div class="mt-16 max-w-3xl">
    <p class="mb-5">Hi, 👋 I’m Aron!</p><p class="mb-5">
      A passionate Frontend and Fullstack developer dedicated to crafting
      seamless, high-performance digital experiences.
    </p>
    <p>
      With a strong background in both frontend and backend technologies, I
      bridge the gap between design and functionality to bring your vision to
      life.
    </p>
  </div>
</section>
