---
import DotGrid from "../DotGrid.astro";
import SectionTitle from "../SectionTitle.astro";
import TextInBox from "../text/TextInBox.astro";
import Timeline from "../TimelineSection/Timeline";
---

<section id="about-me" class="layout w-full py-10 pt-20">
  <SectionTitle> About Me </SectionTitle>
  <div class="mt-16 max-w-3xl">
    <p class="mb-5">
      A passionate Frontend/Fullstack developer dedicated to crafting seamless,
      high-performance digital experiences.
    </p>
    <p>
      With a strong background in frontend technologies, I bridge the gap
      between design and functionality to bring your vision to life. I take
      pride in my work, and enjoy digging into all aspects of the development
      process.
    </p>
  </div>
</section>
