---
import clsx from "clsx";
import { twMerge } from "tailwind-merge";
const classes = {
  dot: clsx(
    "col-start-1 z-40 row-start-1 mb-1 size-4 self-end justify-self-center rounded-full border-2 border-current bg-primary-50 lg:col-start-2"
  ),
  timeLine: clsx(
    "col-start-1 row-span-full w-6 justify-self-center rounded-full border-2 border-current bg-secondary-200 shadow-straight lg:col-start-2"
  ),
  card: clsx("p-5 border-2 border-current shadow-straight"),
};
---

<section class="py-10">
  <div class="relative z-0 flex flex-col items-center justify-center gap-1">
    <div class={twMerge(classes.timeLine, "rounded-none z-0 h-[6px]")}></div>
    <div class={twMerge(classes.timeLine, "rounded-none z-0 h-3")}></div>
  </div>
  <div
    class="relative z-10 mx-auto grid w-full grid-cols-[auto_1fr] grid-rows-2 gap-5 py-1 lg:grid-cols-[1fr_auto_1fr]"
  >
    <div class="row-span-full grid lg:grid-rows-subgrid">
      <div class="relative -bottom-[5px] row-start-2 flex flex-col gap-4">
        <div class={twMerge(classes.card, "mr-10")}>
          Codelit
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem
            eius provident qui quis eveniet voluptate harum, perferendis tenetur
            hic ea explicabo aspernatur esse! Culpa, quis voluptatibus sunt
            distinctio unde ipsam.
          </div>
        </div>

        <h3 class="text-end text-3xl font-bold">2022</h3>
      </div>
    </div>

    <!-- Line -->

    <div class={twMerge(classes.timeLine, " z-30 rounded-t-none")}></div>

    <!-- Dot -->
    <div class={twMerge(classes.dot, "row-start-1")}></div>
    <div class={twMerge(classes.dot, "row-start-2")}></div>

    <div class="row-span-full pr-2">
      <div class="relative -bottom-[5px] flex flex-col gap-4">
        <div class={twMerge(classes.card, "ml-8")}>
          Prepend GmBh
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            debitis, placeat earum culpa inventore nostrum odio tempora veniam
            eum molestiae exercitationem nesciunt porro nobis error. Quasi totam
            nisi hic omnis.
          </div>
        </div>
        <div class="flex items-center gap-2">
          <h3 class="mr-2 text-3xl font-bold">2021</h3><span class="font-medium"
            >Prepend GmbH</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
