---
import Layout from "../layouts/Layout.astro";
import ProjectsSection from "../components/ProjectsSection/ProjectsSection.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutMeSection from "../components/AboutMeSection/AboutMeSection.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-primary-50">
    <HeroSection />
    <ProjectsSection />
    <AboutMeSection />
  </main>
</Layout>
