---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import DotGrid from "../components/DotGrid.astro";
import TextInBox from "../components/text/TextInBox.astro";
import Layout from "../layouts/Layout.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<Layout title="Welcome to Astro.">
  <Header />

  <main class="pb-20">
    <section class="mx-auto w-full px-20 pb-10 pt-32">
      <div class="relative">
        <div class="text-primary-900/15">
          <DotGrid />
        </div>
        <h1
          class="text-primary-950 relative z-10 mb-10 text-5xl font-extrabold tracking-tight"
        >
          Crafting Seamless User Experiences and Scalable Solutions
        </h1>
      </div>
      <p class="mb-5 text-lg">
        Hi, I’m Aron! I specialize in inclusive design implementation.
      </p>
      <p class="text-lg">
        I work with companies and agencies around the world, building Web user
        interfaces and digital products with focus on responsive design,
        accessibility, performance, and cutting-edge tech.
      </p>
      <SocialIcons class="mt-10 flex gap-4" />
    </section>
    <section class="w-full px-20 py-10">
      <div class="relative inline-block">
        <div class="text-primary-900/15">
          <DotGrid />
        </div>
        <TextInBox
          as="h2"
          id="projects"
          class="bg-secondary-200 relative z-10 text-black"
        >
          Projects
        </TextInBox>
      </div>

      <ul class="flex flex-wrap gap-10 overflow-x-auto py-10">
        <li
          class="border-text aspect-video h-52 border-2 bg-white shadow-straight"
        >
        </li>
        <li
          class="border-text aspect-video h-52 border-2 bg-white shadow-straight"
        >
        </li>
        <li
          class="border-text aspect-video h-52 border-2 bg-white shadow-straight"
        >
        </li>
      </ul>
    </section>

    <section class="w-full px-20 py-10">
      <TextInBox as="h2" id="about-me" class="bg-secondary-200 text-black">
        About Me
      </TextInBox>
    </section>
  </main>
  <Footer />
</Layout>
