---
import DotGrid from "../DotGrid.astro";
import SectionTitle from "../SectionTitle.astro";
import TextInBox from "../text/TextInBox.astro";
import Timeline from "./Timeline";
---

<section id="timeline" class="layout mx-auto mt-10 w-full scroll-m-7 py-10">
  <SectionTitle> Timeline </SectionTitle>

  <Timeline />
</section>
