<header
  class="border-primary-900 text-primary-950 mx-auto flex w-full justify-between border-double px-10 py-4 pt-6"
>
  <a href="/" class="font-semibold tracking-tight"> Aron Berenyi </a>
  <nav>
    <ul class="flex gap-6">
      <li class="font-semibold"><a href="#projects">Projects </a></li>
      <li class="font-semibold"><a href="#about-me">About Me </a></li>
    </ul>
  </nav>
</header>
