---
const links = [
  { text: "About Me", href: "#about-me" },
  { text: "Projects", href: "#projects" },
];
---

<header
  class="sticky top-0 z-50 mx-auto flex w-full justify-between border-b border-primary-950/10 bg-primary-100 px-5 py-5 pt-6 text-primary-950 md:px-10"
>
  <a href="/" class="font-semibold tracking-tight"> Aron Berenyi </a>

  <nav class="ml-auto">
    <ul class="flex gap-6">
      {
        links.map((link) => {
          return (
            <li>
              <a
                class="link relative inline-block text-sm font-semibold text-text after:text-red-200 md:text-base"
                href={link.href}
              >
                {link.text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>

<style>
  .link::after {
    opacity: 0;
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1rem;

    background-image: url("data:image/svg+xml,%3Csvg width='53' height='4' viewBox='0 0 53 4' fill='red' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M51.9 3C49 3 49 1 46.2 1c-2.8 0-2.8 2-5.7 2-2.8 0-2.8-2-5.7-2C32 1 32 3 29.1 3c-2.8 0-2.8-2-5.7-2-2.8 0-2.8 2-5.6 2S15 1 12.1 1C9.5 1 9.5 3 6.7 3 3.8 3 3.8 1 1 1' stroke='rgb(69, 26, 3)' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='52.9' height='4' fill='%23404040'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease-out;
  }

  .link:hover.link::after {
    opacity: 1;
  }
  .link:active.link::after {
    opacity: 1;
  }
</style>
