---
import type { AstroIntegrationLogger } from "astro";
import DotGrid from "./DotGrid.astro";
import SocialIcons from "./SocialIcons.astro";
---

<section
  class="layout mx-auto w-full border-b-2 border-primary-950/10 bg-primary-100 py-24 pb-16"
>
  <div class="relative z-20 inline bg-primary-100/80 opacity-100 md:text-xl">
    Hi, 👋 I’m Aron,
  </div>
  <div class="relative">
    <div class="text-primary-900/15">
      <DotGrid class="w-1/2" />
    </div>
    <h1
      class="relative z-10 mb-10 max-w-3xl bg-primary-100/80 text-3xl font-extrabold tracking-tight text-primary-950 md:text-5xl lg:mb-16"
    >
      I'm Not a Developer
    </h1>
  </div>
  <div class="mb-5 max-w-3xl text-lg text-text/80">
    <p class="mb-5">I'm a problem solver</p>
    <p>
      Get to know me, and you'll discover someone who is dedicated to crafting
      exceptional digital experiences.
    </p>
  </div>

  <SocialIcons class="mt-10 flex gap-4" />
</section>
