---
import DotGrid from "./DotGrid.astro";
import SocialIcons from "./SocialIcons.astro";
---

<section
  class="mx-auto w-full border-b-2 border-primary-950/10 bg-primary-100 px-20 py-24 pb-16"
>
  <div class="relative">
    <div class="text-primary-900/15">
      <DotGrid />
    </div>
    <h1
      class="relative z-10 mb-10 text-5xl font-extrabold tracking-tight text-primary-950"
    >
      Crafting Seamless User Experiences and Scalable Solutions
    </h1>
  </div>
  <p class="mb-5 text-lg">
    Hi, I’m Aron! I specialize in inclusive design implementation.
  </p>
  <p class="text-lg">
    I work with companies and agencies around the world, building Web user
    interfaces and digital products with focus on responsive design,
    accessibility, performance, and cutting-edge tech.
  </p>
  <SocialIcons class="mt-10 flex gap-4" />
</section>
